@model IEnumerable<BlogViewModel>

    <div>
        @foreach (var item in Model)
        {
           <div>
               @item.Title
               @item.Categories
           </div>
        }
    </div>